.App {
  text-align: center;
  overflow: hidden;
  margin: auto;
  max-width: 1440px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alphabet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.letter {
  font-family: "Courier New", Courier, monospace;
  font-size: 5vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

.disabledLetter {
  font-family: "Courier New", Courier, monospace;
  font-size: 5vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  text-decoration: line-through;
}

.wordList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.wordLetter {
  font-family: "Courier New", Courier, monospace;
  font-size: 5vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

.blankLetter {
  font-family: "Courier New", Courier, monospace;
  font-size: 5vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}
